@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
section {
  color: black;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 110;
  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 0.75s;
  padding-top: 20px;
}
.myNavbar {
  margin: auto;
  border-radius: 5px;
  background-color: #ffffff;
  color: black;
  width: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.nav-items button {
  font-family: Calibri Light;
  font-size: 18px;
}
.menulist {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 100%;
}
ol li {
  text-align: center;
  font-size: 1.4rem;
}
ol li:hover {
  background-color: #e4e4ea;
}
.base-MenuItem-root:hover {
  cursor: pointer;
}
#lead {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  overflow: hidden;
  color: white;
}
#menuItemBar {
  visibility: hidden;
}
.menulists {
  visibility: hidden;
}
.lead-contain {
  display: grid;
  clear: both;
  grid-template-columns: 1.75fr 1.25fr;
  align-items: flex-end;
  height: 100vh;
  min-height: 435px;
}
#lead-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: left;
}
#lead-content h1 {
  font-size: 4rem;
}
#lead-content h2 {
  font-weight: 500;
  font-size: 2.25em;
}
#lead-content p {
  font-weight: 400;
  font-size: 1.5rem;
}
#lead-image {
  position: relative;
}
.lead-overlay {
  height: 100%;
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  min-height: 350px;
  background-image: linear-gradient(0deg, #888bf4, #5151c6);
  clip-path: polygon(0 0%, 100% 0, 100% 0%, 0 170%);
}
svg {
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 0.25rem;
}
.row {
  padding-right: 2rem;
}
.about-content {
  display: flex;
}
.content-images {
  height: 450px; /* Ensure height is set */
  overflow: visible; /* Allow overflow to be visible for debugging */
  width: 450px;
  position: relative;
  margin: auto;
}
.first-col {
  width: 50%;
  float: left;
  padding-top: 2rem;

  padding-left: 2rem;
  padding-right: 2rem;
}
.carousel-caption {
  width: 450px;
}
.content-text {
  width: 50%;
  padding-top: 4rem;
}
.column {
  width: 50%;
  float: left;
  text-align: left;
  padding: 0.5rem;
}
.timeline {
  list-style: none;
  position: relative;
}

.timeline-content {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center items horizontally */
}

.timeline-middle {
  display: flex;
  align-items: center; /* Center the SVG vertically */
  justify-content: center; /* Center the SVG horizontally */
  width: 50px; /* Width for spacing */
}

.timeline-start,
.timeline-end {
  width: 45%; /* Width for start and end items */
  text-align: center; /* Center text */
}
li {
  margin-bottom: 4rem;
  z-index: 1;
}
ul {
  padding-top: 3rem;
}
.timeline-line {
  position: absolute;
  width: 4px; /* Width of the middle line */
  background: #5151c6; /* Color of the middle line */
  left: 50%; /* Center it in the timeline */
  height: 100%; /* Extend it fully in height */
  transform: translateX(-50%); /* Center it horizontally */
  z-index: 0; /* Ensure it appears behind the icons */
}
.timeline .timeline-heading > div h3 {
  display: inline-block;
  padding: 7px 15px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  background: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  color: #2c2c2c;
}
#projects {
  background-color: #5e62e9;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.row-projects {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.row-projects .col-item {
  border-radius: 5% !important;
  background-color: #eee5e5f1 !important;
  display: grid !important;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.col-item:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #c5b5f3e0;
}
.col-item:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #d9d5e2f1;
}
.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #d9d5e2f1;
  padding: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.project-item {
  width: 38%;
  margin-bottom: 1rem;
}
.project-item img {
  border-radius: 5%;
}
.project-item p {
  max-width: 400px;
  padding-top: 10px;
  margin: auto;
}
.achieveDrop {
  width: 60%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.achieveDrop .relative {
  background-color: #5151c6;
}
.achieveDrop .relative button:hover {
  background-color: #4141af;
}
#skills {
  background-color: #eee;
  margin-top: 64px;
  padding: 100px;
}
.block {
  padding-left: 3rem;
}
.block li {
  display: inline-block;
  width: 22%;
  margin-bottom: 2rem;
  padding-left: 1rem;
}
.block li img {
  height: 50px;
}
.block li:hover {
  transform: scale(1.3, 1.3);
  transition: all 0.2s;
  transform-origin: 50% 50%;
}
.telephone {
  padding-top: 2rem;
}
.telephone button {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.mail {
  margin-right: 4rem;
  transition: background-color 0.3s ease;
}
.phone {
  margin-right: 2rem;
  margin-left: 2rem;
  color: #2c2c2c;
}
.phone:hover {
  cursor: pointer;
  color: #6464d8;
}
.footer {
  color: white;
  background-color: #5151c6;
  padding-top: 1rem;
}
.footer a {
  font-size: 4.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.footer a:hover {
  color: #c2b3b3;
}
.footer .flex {
  justify-content: center;
}
.goToTop {
  bottom: 3rem;
  right: 2rem;
  position: fixed !important;
  border-radius: 50% !important;
  padding: 5px !important;
  background-color: #656af0 !important;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.goToTop svg {
  width: 50px;
  height: 50px;
  z-index: 100;
  margin: auto;
  color: #efeff1;
  padding: 0;
}
.dropProLis {
  padding-left: 1rem;
  padding-right: 1rem;
}
.dropProLis li {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  display: inline-block;
  background-color: #e4e4ea;
  padding: 5px;
}

@media (max-width: 768px) {
  #lead-content h1 {
    font-size: 3rem;
  }

  #lead-content h2 {
    font-size: 1.75rem;
  }

  #lead-content p {
    font-size: 1.15em;
  }

  .lead-overlay {
    clip-path: polygon(0 0%, 100% 0, 100% 0%, 0 150%);
  }
}

@media (max-width: 480px) {
  #lead-content h1 {
    font-size: 2.5rem;
  }

  #lead-content h2 {
    font-size: 1.5rem;
  }

  #lead-content p {
    font-size: 1em;
  }

  .lead-overlay {
    width: 100%;
    clip-path: polygon(0 0%, 100% 0, 100% 0%, 0 140%);
  }
  .first-col {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 1200px) {
  .about-title {
    font-size: 2.5rem;
  }

  .about-text {
    padding-right: 2rem;
  }

  .column-title {
    font-size: 1.8rem;
  }
  .carousel-caption {
    width: 100%;
  }
  .first-col {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #lead-content {
    top: 250px;
  }
  .myNavbar {
    width: 60%;
  }
}
@media (max-width: 1024px) {
  .lead-contain {
    grid-template-columns: 1fr;
  }
  #lead-overlay {
    width: 100%;
    clip-path: polygon(0 0%, 100% 0, 100% 70%, 0 90%);
  }
  #lead {
    height: auto;
    min-height: auto;
  }
  #lead-content {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 70%;
    text-align: center;
  }
  #lead-content h1 {
    font-size: 2.5em;
  }
  #lead-content h2 {
    font-size: 1.2em;
  }
  #lead-image {
    position: absolute;
    width: 25%;
    left: 40%; /* Align center horizontally */
    height: auto;
    display: block;
    margin: auto;
  }
  .lead-overlay {
    width: 100%;
    clip-path: polygon(0 0%, 100% 0, 100% 50%, 0 80%);
  }
  .row {
    flex-direction: column;
  }
  .row-projects {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .row-projects .col-item {
    width: 70%;
    margin-bottom: 2rem;
  }
  #projects {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .project-item {
    width: 100%;
  }
  .carousel-caption {
    width: 100%;
  }
  .first-col {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .content-images {
    width: 100%;
  }
  .myNavbar {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .menulist {
    visibility: visible;
  }
  .myNavbar {
    margin-right: 2rem;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .about-content {
    flex-direction: column;
    align-items: center;
  }
  .carousel-caption {
    width: 100%;
  }
  .first-col,
  .content-text {
    padding: 10px;
  }
  .content-text {
    margin-top: 5rem;
  }
  .first-col {
    width: 70%;
  }
  #lead-image {
    position: absolute;
    width: 35%;
    left: 40%; /* Align center horizontally */
    height: auto;
    display: block;
    margin: auto;
  }
  .content-text p {
    padding-top: 4rem;
    padding-right: 20px;
    padding-left: 20px;
  }
  .content-text {
    width: 100%;
  }
  .about-title {
    font-size: 2rem;
    padding-left: 20px;
  }

  .about-text {
    padding-right: 1.5rem;
  }

  .column {
    padding: 10px;
    flex: 100%;
  }

  .column-title {
    font-size: 1.5rem;
  }
  .about-content {
    flex-direction: column;
  }

  .first-col,
  .content-text {
    padding: 10px;
  }
  .project-item {
    width: 100%;
  }
  .skill-content {
    width: 100%;
  }
  .skill {
    flex-direction: column;
  }
  #skills {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .footer .flex {
    flex-wrap: wrap;
  }
  .fab {
    width: 30px;
  }
  .resume {
    margin-top: 1rem;
  }
  .base-Menu-listbox li {
    margin: 0;
    margin-bottom: 5px;
  }
  .myMenuItems {
    display: none;
  }
  .myNavbar {
    width: 40px;
    background-color: white;
    left: 1rem;
    top: 1rem;
    border-radius: 5px;
  }
  #menuItemBar {
    visibility: visible;
  }
  #menuItemBar {
    padding: 0;
  }
}
@media (max-width: 600px) {
  .myNavbar {
    width: 40px;
    background-color: white;
    left: 1rem;
    top: 1rem;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  #menuItemBar {
    padding: 0;
  }
  .footer a {
    font-size: 3rem;
  }
  .footer {
    align-items: center;
  }
}
@media (max-width: 480px) {
  .about-title {
    font-size: 1.8rem;
    padding-left: 10px;
  }

  .content-text {
    width: 100%;
  }
  .content-text p {
    padding-top: 4rem;
    padding-right: 20px;
    padding-left: 20px;
  }
  .about-text {
    padding-right: 1rem;
  }

  .column-title {
    font-size: 1.2rem;
  }

  .first-col,
  .content-text {
    padding: 5px;
    margin: auto;
  }

  .column {
    padding: 5px;
  }
  .carousel-caption {
    width: 100%;
  }
  .row {
    flex-direction: column;
  }
  .row-projects {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .row-projects .col-item {
    width: 100%;
    margin-bottom: 2rem;
  }
  #projects {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .project-item {
    width: 100%;
  }

  .skill-content {
    width: 100%;
  }
  .skill {
    flex-direction: column;
  }
  #skills {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .block {
    padding-left: 0;
  }
  .goToTop {
    bottom: 1rem;
    right: 1rem;
  }
  .map {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .map iframe {
    width: 100%;
  }
  .footer .flex {
    flex-wrap: wrap;
  }
  .fab {
    width: 30px;
  }
  .lead-contain {
    display: grid;
  }
  .lead-overlay {
    width: 100%;
  }
  #lead-content {
    top: 35%;
  }
  #lead-content h1 {
    font-size: 3rem;
    padding-left: 10px;
  }
  #lead-content h2 {
    font-size: 1.5rem;
    padding-left: 10px;
  }
  #lead-content p {
    font-size: 1rem;
    padding-left: 10px;
  }
  .carousel-image {
    width: 300px;
    height: 300px;
  }
  #lead-overlay {
    height: 95%;
    width: 100%;
    clip-path: polygon(0 0%, 100% 0, 100% 70%, 0 100%);
  }
  .base-Menu-listbox li {
    margin: 0;
    margin-bottom: 5px;
  }
  .myMenuItems {
    display: none;
  }
  .myNavbar {
    width: 60px;
    background-color: white;
    left: 10px;
    top: 10px;
    border-radius: 5px;
  }
  #menuItemBar {
    visibility: visible;
  }
}

@keyframes dropHeader {
  0% {
    transform: translateY(-100%); /* Start the header off-screen */
  }
  100% {
    transform: translateY(
      0
    ); /* End the animation with the header in its normal position */
  }
}
